/.metadata/
/.recommenders/

/target/
/.classpath
/*.project
/.settings
/*.springBeans
Core/QueryManager/logs/
Storage/StorageManager/logs/
Go/pkg/
/*.db
KubernetesFile/dist-deployment-files/helm/creds.yaml
